* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  margin: 0;
  background-color: #18e3c2;
  font-family: "Raleway", sans-serif;
}

.header__wrap {
  padding-top: 50px;
}
.header__content {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo__wrap {
  display: flex;
  justify-content: space-between;
}

.logo__img {
  margin-right: 10px;
}

.logo__text span {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.logo__text p {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav__list li {
  margin-right: 50px;
}

.nav__list li a {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.nav__list li a:hover {
  color: #000;
  transition: 0.5s ease-out all;
}

.login__user {
  cursor: pointer;
  padding: 8px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
}

.login__user:hover {
  background-color: #fff;
  color: #0cb8bc;
  transition: 0.5s ease-out all;
  transform: scale(1.1);
}

.section__wrap {
  padding: 180px 0px 160px;
}

.section__content {
  display: flex;
  justify-content: space-between;
}

.left__content {
  flex-basis: 50%;
}
.left__content h1 {
  color: #fff;
  font-size: 55px;
  font-weight: bold;
  width: 470px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.left__content p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  width: 580px;
  margin-bottom: 40px;
}
.left__content .buy-now {
  padding: 20px 40px;
  border-radius: 5px;
  background-color: #061e37;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  margin-right: 30px;
}
.left__content .buy-now:hover {
  cursor: pointer;
  color: #061e37;
  background-color: #fff;
  transition: 0.5s ease-out all;
  font-weight: 500;
}
.left__content .try-free {
  padding: 20px 40px;
  border-radius: 5px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #061e37;
}
.left__content .try-free:hover {
  cursor: pointer;
  color: #fff;
  background-color: #061e37;
  transition: 0.5s ease-out all;
  font-weight: 500;
}

.right__content {
  flex-basis: 50%;
}

.right__content-wrap {
  border: 1px solid black;
  border-radius: 5px;
}
.right__content-wrap .right__content-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right__content-wrap .right__content-content p {
  display: block;
}