* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.header__wrap {
  position: relative;
}

.header__wrap {
  padding-top: 50px;
}
.header__content {
  display: flex;
  justify-content: space-between;
}

.header__content {
  position: relative;
}

.header__burger {
  display: none;
}

.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav__list li {
  margin-right: 50px;
}

.nav__list li:last-child {
  margin-right: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo__wrap {
  display: flex;
  justify-content: space-between;
}

.logo__img {
  margin-right: 10px;
}

.logo__text span {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.logo__text p {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav__list li a {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.nav__list li a:hover {
  color: #000;
  transition: 0.5s ease-out all;
}

.login__user {
  cursor: pointer;
  padding: 8px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
}

.login__user:hover {
  background-color: #fff;
  color: #0cb8bc;
  transition: 0.5s ease-out all;
  transform: scale(1.1);
}

@media (max-width: 992px) {
  body .lock {
    overflow: hidden;
  }

  .header__wrap {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #5e35b1;
  }

  .logo__wrap .logo__img {
    flex: 0 0 30px;
  }

  .logo__wrap .logo__text {
    position: relative;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    right: 50px;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .site__navigation {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    padding: 10px 10px 20px 10px;
    background-color: #18ffff;
    z-index: 5;
  }

  .site__navigation.active {
    top: 70px;
  }

  .nav__list {
    display: block;
    text-align: center;
  }
  .nav__list li {
    margin: 0px 0px 20px 0px;
  }

  .nav__list li a {
    font-size: 24px;
  }

  .header__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 0px 0px 0px;
    display: block;
  }

  .right__content-content {
    position: relative;
    z-index: 0;
  }
}
@media (max-width: 890px) {
  .site__navigation li a {
    font-size: 16px;
  }
}
.page-bg {
  background-image: url(../../img/bg_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 5px;
}
.page-bg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(21, 208, 203, 0.9);
}

.section__180 {
  position: relative;
}

.section__wrap {
  padding: 180px 0px 160px;
}

.section__content {
  display: flex;
  justify-content: space-between;
}

.left__content {
  flex-basis: 50%;
}
.left__content h1 {
  color: #fff;
  font-size: 55px;
  font-weight: bold;
  width: 470px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.left__content p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  width: 580px;
  margin-bottom: 40px;
}
.left__content .buy-now {
  padding: 20px 40px;
  border-radius: 5px;
  background-color: #061e37;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  margin-right: 30px;
}
.left__content .buy-now:hover {
  cursor: pointer;
  color: #061e37;
  background-color: #fff;
  transition: 0.5s ease-out all;
  font-weight: 500;
}
.left__content .try-free {
  padding: 20px 40px;
  border-radius: 5px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #061e37;
}
.left__content .try-free:hover {
  cursor: pointer;
  color: #fff;
  background-color: #061e37;
  transition: 0.5s ease-out all;
  font-weight: 500;
}

.right__content {
  width: 100%;
  flex-basis: 50%;
}

.right__content-wrap {
  background-image: url(../../img/photo-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 50%;
}
.right__content-wrap:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}
.right__content-wrap .right__content-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.right__content-wrap .right__content-content .icon {
  z-index: 5;
  cursor: pointer;
}
.right__content-wrap .right__content-content .icon-text {
  font-size: 12px;
  color: #061e37;
  z-index: 5;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

@media (max-width: 1180px) {
  .login .login__user {
    padding: 20px 20px;
    font-size: 24px;
    padding: 10px 10px;
  }

  .section__wrap {
    padding: 60px 0px 60px;
  }

  .section__content {
    flex-direction: column;
  }

  .site__navigation li a {
    font-size: 24px;
  }

  .right__content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left__content h1,
.left__content p {
    flex-basis: 100%;
    width: 100%;
    text-align: center;
  }

  .left__content p {
    font-size: 24px;
  }

  .left__content p {
    max-width: 100%;
  }

  .buy-now,
.try-free {
    position: relative;
    left: 40%;
    transform: translate(-50%, 0);
  }

  .right__content-wrap {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .login .login__user {
    padding: 10px 10px;
    font-size: 14px;
  }

  .left__content h1 {
    font-size: 32px;
  }

  .left__content p {
    font-size: 18px;
  }
}
@media (max-width: 695px) {
  .left__content h1 {
    font-size: 24px;
  }

  .left__content p {
    font-size: 14px;
  }

  .left__content .buy-now,
.left__content .try-free {
    padding: 15px 30px;
  }
}
@media (max-width: 576px) {
  .left__content .buy-now,
.left__content .try-free {
    padding: 10px 25px;
  }

  .logo__text span,
.logo__text p {
    font-size: 12px;
    font-weight: 500;
  }
}
@media (max-width: 476px) {
  .header__burger {
    right: 30px;
  }

  .left__content .buy-now,
.left__content .try-free {
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 500;
  }

  .left__content h1 {
    font-size: 16px;
  }

  .left__content p {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .logo__text span,
.logo__text p {
    font-size: 10px;
    font-weight: 500;
  }

  .section__wrap {
    padding: 30px 0px 30px;
  }

  .header__burger {
    width: 25px;
  }

  .header__burger:before {
    top: 3px;
  }

  .header__burger:after {
    bottom: 3px;
  }

  .login .login__user {
    padding: 5px 5px;
    font-size: 12px;
  }

  .left__content .buy-now,
.left__content .try-free {
    padding: 8px 8px;
    font-size: 10px;
  }

  .right__content-wrap .right__content-content .icon {
    max-width: 15%;
  }

  .right__content-wrap .right__content-content .icon-text {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  .logo__text span,
.logo__text p {
    width: 99%;
  }

  .logo__wrap .logo__img {
    margin-top: 5px;
  }
}
.section__wrap100 {
  padding-top: 100px;
}

.easy-useful-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.easy-useful-header h2 {
  font-size: 45px;
  font-weight: 600;
  color: #061e37;
  margin-bottom: 15px;
  display: inline-block;
}
.easy-useful-header .text-one {
  color: #b0bec5;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
  display: inline-block;
}
.easy-useful-header .text-two {
  font-size: 15px;
  font-weight: 400;
  color: #b0bec5;
  line-height: 1.5;
  display: inline-block;
  width: 45%;
  text-align: center;
}

.easy-useful-content {
  display: flex;
  justify-content: space-around;
  margin-top: 95px;
}

.easy-useful-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.easy-useful-item img {
  margin-bottom: 40px;
}
.easy-useful-item h6 {
  color: #061e37;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.easy-useful-item p {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 500;
  color: #78909c;
  display: inline-block;
  text-align: center;
  width: 70%;
}

.getstart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
}
.getstart button {
  cursor: pointer;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #1de9b6;
  text-transform: uppercase;
  border: 1px solid #1de9b6;
  padding: 20px 25px;
  border-radius: 5px;
  box-shadow: 0px 9px 12px -1px rgba(0, 0, 0, 0.26);
}
.getstart button:hover {
  background-color: #fff;
  color: #1de9b6;
  transition: all 0.3s ease 0s;
  border: 1px solid #1de9b6;
}

.easy-useful-footer {
  display: flex;
  justify-content: space-between;
}

.easy-useful-box {
  flex-basis: 25%;
  padding: 25px 30px;
}
.easy-useful-box .for-text {
  display: inline-block;
  text-align: left;
}
.easy-useful-box img {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  max-width: 15%;
}
.easy-useful-box span, .easy-useful-box p {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  display: block;
}
.easy-useful-box.box1 {
  background-color: #80d8ff;
}
.easy-useful-box.box2 {
  background-color: #82b1ff;
}
.easy-useful-box.box3 {
  background-color: #b388ff;
}
.easy-useful-box.box4 {
  background-color: #ea80fc;
}

@media (min-width: 890px) and (max-width: 1180px) {
  .for-text span,
.for-text p {
    font-size: 1vw;
  }
}
@media (max-width: 992px) {
  .section__wrap100 {
    padding-top: 40px;
  }

  .easy-useful-content {
    margin-top: 20px;
  }

  .easy-useful-item img {
    margin-bottom: 20px;
  }

  .getstart {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
@media (max-width: 890px) {
  .easy-useful-footer {
    flex-wrap: wrap;
  }

  .easy-useful-box {
    flex-basis: 50%;
    text-align: center;
  }

  .easy-useful-box span,
.easy-useful-box p {
    font-size: 20px;
  }

  .easy-useful-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .easy-useful-item {
    max-width: 50%;
    margin-top: 20px;
  }
  .easy-useful-item p {
    font-size: 16px;
  }

  .easy-useful-header .text-two {
    font-size: 18px;
  }
}
@media (max-width: 695px) {
  .easy-useful-box span,
.easy-useful-box p {
    font-size: 2vw;
  }
}
@media (max-width: 576px) {
  .easy-useful-footer {
    flex-direction: column;
  }

  .easy-useful-box {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
  }

  .easy-useful-box img {
    max-width: 15%;
  }

  .easy-useful-header .text-two {
    width: 75%;
  }

  .easy-useful-item p {
    width: 100%;
  }

  .easy-useful-header h2 {
    font-size: 32px;
  }

  .easy-useful-header .text-one {
    font-size: 18px;
  }

  .easy-useful-header .text-two {
    font-size: 15px;
    width: 65%;
  }

  .easy-useful-content {
    margin-top: 0px;
  }

  .easy-useful-item img {
    width: 20%;
  }
}
@media (max-width: 476px) {
  .getstart button {
    font-size: 10px;
    padding: 12px 16px;
  }
}
@media (max-width: 450px) {
  .section__wrap100 {
    padding-top: 20px;
  }

  .easy-useful-header h2 {
    font-size: 26px;
  }

  .easy-useful-header .text-two {
    font-size: 12px;
  }

  .easy-useful-item p {
    font-size: 12px;
    width: 100%;
  }

  .easy-useful-footer .easy-useful-box:last-child {
    margin-bottom: 0px;
  }

  .easy-useful-box {
    padding: 15px 10px;
  }
}
@media (max-width: 400px) {
  .section__wrap100 {
    padding-top: 15px;
  }

  .easy-useful-header h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .easy-useful-header .text-one {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .easy-useful-header .text-two {
    font-size: 10px;
  }

  .easy-useful-item h6 {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .easy-useful-item img {
    margin-bottom: 10px;
  }

  .easy-useful-item {
    margin-top: 15px;
  }

  .easy-useful-box span,
.easy-useful-box p {
    font-size: 3vw;
  }
}
@media (max-width: 320px) {
  .easy-useful-header .text-two {
    font-size: 9px;
    width: 90%;
  }

  .easy-useful-item p {
    font-size: 10px;
    width: 140%;
  }

  .getstart button {
    font-size: 10px;
    padding: 8px 12px;
  }

  .getstart {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}
.section__serviceswrap {
  padding: 100px 0px;
}

.section__serviceheader {
  text-align: center;
}
.section__serviceheader h2 {
  color: #061e37;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 30px;
  display: inline-block;
}
.section__serviceheader p {
  font-size: 15px;
  color: #b0bec5;
  line-height: 25px;
  padding-bottom: 45px;
  margin: 0 auto;
  width: 50%;
}

.dropdown-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.dropdowm-menu-item-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  cursor: pointer;
}

.dropdown-menu-item {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px -3px black;
  border-radius: 5px;
}

.dropdown-menu-item:last-child {
  margin-bottom: 0;
}

.left-side-header {
  display: flex;
  justify-content: space-between;
}

.box-for-icon {
  margin-right: 25px;
}

.box-for-text p {
  font-size: 15px;
  color: #061e37;
  font-weight: 700;
  text-transform: uppercase;
}

.dropdowm-menu-item-body {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px 25px;
  font-size: 15px;
  color: #061e37;
  font-weight: 500;
  line-height: 1.5;
  transition: 0.5s all;
  display: none;
}
.dropdowm-menu-item-body .for-img {
  flex-basis: 35%;
  margin-right: 25px;
}
.dropdowm-menu-item-body .for-text {
  flex-basis: 65%;
  text-align: left;
}
.dropdowm-menu-item-body .for-text p {
  margin-bottom: 25px;
}
.dropdowm-menu-item-body .for-text p:last-child {
  margin-bottom: 0;
}

.dropdowm-menu-item-body.active {
  display: flex;
}

@media (max-width: 1180px) {
  .section__serviceswrap {
    padding: 50px 0px;
  }
}
@media (max-width: 992px) {
  .section__serviceswrap {
    padding: 30px 0px;
  }

  .section__serviceheader h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
}
@media (max-width: 890px) {
  .dropdown-menu-item {
    width: 75%;
  }

  .dropdowm-menu-item-header {
    padding: 15px;
  }

  .dropdowm-menu-item-body .for-text p {
    font-size: 12px;
  }
}
@media (max-width: 830px) {
  .dropdown-menu-item {
    width: 80%;
  }
}
@media (max-width: 778px) {
  .dropdowm-menu-item-body {
    flex-direction: column;
  }
  .dropdowm-menu-item-body .for-img {
    margin: 0px auto;
  }
  .dropdowm-menu-item-body .for-text p {
    margin: 15px 0px;
  }
}
@media (max-width: 736px) {
  .section__serviceheader h2 {
    font-size: 30px;
  }

  .section__serviceheader p {
    width: 60%;
  }
}
@media (max-width: 678px) {
  .section__serviceheader p {
    padding-bottom: 30px;
    width: 67%;
  }
}
@media (max-width: 650px) {
  .section__serviceheader p {
    width: 75%;
  }
}
@media (max-width: 580px) {
  .section__serviceheader p {
    font-size: 12px;
    line-height: 1.5;
  }
}
@media (max-width: 400px) {
  .dropdowm-menu-item-body .for-text p {
    font-size: 10px;
    margin: 5px 0px;
    line-height: 1.5;
  }
}
@media (max-width: 400px) {
  .section__serviceheader h2 {
    font-size: 26px;
  }

  .section__serviceheader p {
    padding-bottom: 15px;
    width: 80%;
    line-height: 1.5;
  }
}
.ourslider {
  background-image: url(../../img/bg_testimonialsr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.ourslider::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(21, 208, 203, 0.95);
}

.oursliderwrap {
  padding: 40px 0px;
  position: relative;
  z-index: 2;
}

.slider-40 {
  display: flex;
  justify-content: space-between;
}

.left-part {
  padding: 50px 0px;
  flex-basis: 50%;
}
.left-part h2 {
  display: inline-block;
  font-size: 45px;
  font-weight: 500;
  color: #fff;
  text-align: left;
  width: 72%;
  margin-bottom: 30px;
}
.left-part p {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: #fff;
  width: 83%;
  margin-bottom: 75px;
}
.left-part .getstartbtn {
  cursor: pointer;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #061e37;
  text-transform: uppercase;
  padding: 20px 25px;
  border-radius: 5px;
}

.right-part {
  flex-basis: 50%;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.slider-item .for-photo {
  display: flex;
  flex-basis: 10%;
  align-items: center;
  margin-right: 20px;
}
.slider-item .for-photo img {
  max-width: 150%;
}
.slider-item .block-for-text {
  flex-basis: 90%;
  padding: 20px 35px 20px 25px;
  background-color: #fff;
  border-radius: 5px;
}
.slider-item .block-for-text h5 {
  display: inline-block;
  color: #061e37;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  line-height: 25px;
}
.slider-item .block-for-text p {
  display: inline-block;
  color: #78909c;
  font-weight: 500;
  font-size: 15px;
  font-style: italic;
  line-height: 25px;
  text-align: left;
}

.slick-track {
  display: flex;
  flex-direction: column;
}