* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  margin: 0;
  background-color: #18e3c2;
  font-family: "Raleway", sans-serif;
}

.header__wrap {
  padding-top: 50px;
}
.header__content {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo__wrap {
  display: flex;
  justify-content: space-between;
}

.logo__img {
  margin-right: 10px;
}

.logo__text span {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.logo__text p {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav__list li {
  margin-right: 50px;
}

.nav__list li a {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.nav__list li a:hover {
  color: #000;
  transition: 0.5s ease-out all;
}

.login__user {
  cursor: pointer;
  padding: 8px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
}

.login__user:hover {
  background-color: #fff;
  color: #0cb8bc;
  transition: 0.5s ease-out all;
  transform: scale(1.1);
}