.section__wrap100 {
	padding-top: 100px;
}

.easy-useful-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	& h2 {
		font-size: 45px;
		font-weight: 600;
		color: #061e37;
		margin-bottom: 15px;
		display: inline-block;
	}

	& .text-one {
		color: #b0bec5;
		font-weight: 600;
		font-size: 25px;
		margin-bottom: 20px;
		display: inline-block;
	}

	& .text-two {
		font-size: 15px;
		font-weight: 400;
		color: #b0bec5;
		line-height: 1.5;
		display: inline-block;
		width: 45%;
		text-align: center;
	}
}

.easy-useful-content {
	display: flex;
	justify-content: space-around;
	margin-top: 95px;
}

.easy-useful-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;

	& img {
		margin-bottom: 40px;
	}

	& h6 {
		color: #061e37;
		font-weight: 600;
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 20px;
	}

	& p {
		font-size: 12px;
		line-height: 1.4;
		font-weight: 500;
		color: #78909c;
		display: inline-block;
		text-align: center;
		width: 70%;
	}
}

.getstart {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
	margin-bottom: 100px;

	& button {
		cursor: pointer;
		outline: none;
		font-size: 15px;
		font-weight: 600;
		color: #fff;
		background-color: #1de9b6;
		text-transform: uppercase;
		border: 1px solid #1de9b6;
		padding: 20px 25px;
		border-radius: 5px;
		-webkit-box-shadow: 0px 9px 12px -1px rgba(0, 0, 0, 0.26);
		-moz-box-shadow: 0px 9px 12px -1px rgba(0, 0, 0, 0.26);
		box-shadow: 0px 9px 12px -1px rgba(0, 0, 0, 0.26);

		&:hover {
			background-color: #fff;
			color: #1de9b6;
			transition: all 0.3s ease 0s;
			border: 1px solid #1de9b6;
		}
	}
}

.easy-useful-footer {
	display: flex;
	justify-content: space-between;
}

.easy-useful-box {
	flex-basis: 25%;
	padding: 25px 30px;

	& .for-text {
		display: inline-block;
		text-align: left;
	}

	& img {
		position: relative;
		display: inline-block;
		margin-right: 10px;
		max-width: 15%;
	}

	& span,
	& p {
		color: #fff;
		font-size: 14px;
		line-height: 1.5;
		font-weight: 700;
		display: block;
	}

	&.box1 {
		background-color: #80d8ff;
	}

	&.box2 {
		background-color: #82b1ff;
	}

	&.box3 {
		background-color: #b388ff;
	}

	&.box4 {
		background-color: #ea80fc;
	}
}

// -------------- Media Queries ------------------ //

@media (min-width: 890px) and (max-width: 1180px) {

	.for-text span,
	.for-text p {
		font-size: 1vw;
	}
}

@media (max-width: 992px) {

	.section__wrap100 {
		padding-top: 40px;
	}

	.easy-useful-content {
		margin-top: 20px;
	}

	.easy-useful-item img {
		margin-bottom: 20px;
	}

	.getstart {
		margin-top: 30px;
		margin-bottom: 50px;
	}
}

@media (max-width: 890px) {

	.easy-useful-footer {
		flex-wrap: wrap;
	}

	.easy-useful-box {
		flex-basis: 50%;
		text-align: center;
	}

	.easy-useful-box span,
	.easy-useful-box p {
		font-size: 20px;
	}

	.easy-useful-content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.easy-useful-item {
		max-width: 50%;
		margin-top: 20px;

		& p {
			font-size: 16px;
		}
	}

	.easy-useful-header .text-two {
		font-size: 18px;
	}
}

@media (max-width: 695px) {

	.easy-useful-box span,
	.easy-useful-box p {
		font-size: 2vw;
	}

}

@media (max-width: 576px) {

	.easy-useful-footer {
		flex-direction: column;
	}

	.easy-useful-box {
		margin-left: auto;
		margin-right: auto;
		width: 70%;
		margin-bottom: 10px;
	}
}