// Section__180__160

.section__180 {
	position: relative;
}

.section__wrap {
	padding: 180px 0px 160px;
}

.section__content {
	display: flex;
	justify-content: space-between;
}

.left__content {
	flex-basis: 50%;

	& h1 {
		color: #fff;
		font-size: 55px;
		font-weight: bold;
		width: 470px;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	& p {
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.8;
		width: 580px;
		margin-bottom: 40px;
	}

	& .buy-now {
		padding: 20px 40px;
		border-radius: 5px;
		background-color: #061e37;
		font-family: "Roboto", sans-serif;
		font-size: 15px;
		text-transform: uppercase;
		color: #fff;
		margin-right: 30px;
	}

	& .buy-now:hover {
		cursor: pointer;
		color: #061e37;
		background-color: #fff;
		transition: 0.5s ease-out all;
		font-weight: 500;
	}

	& .try-free {
		padding: 20px 40px;
		border-radius: 5px;
		background-color: #fff;
		font-family: "Roboto", sans-serif;
		font-size: 15px;
		text-transform: uppercase;
		color: #061e37;
	}

	& .try-free:hover {
		cursor: pointer;
		color: #fff;
		background-color: #061e37;
		transition: 0.5s ease-out all;
		font-weight: 500;
	}
}

.right__content {
	flex-basis: 50%;
}

.right__content-wrap {
	background-image: url(../../img/photo-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	position: relative;
	padding: 115px 225px;
	border: 1px solid black;
	border-radius: 5px;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.9);
	}

	& .right__content-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& .icon {
			z-index: 5;
			cursor: pointer;
		}

		& .icon-text {
			font-size: 12px;
			color: #061e37;
			z-index: 5;
			cursor: pointer;
			text-transform: uppercase;
			font-family: "Raleway", sans-serif;
			font-weight: 700;
		}
	}
}