// Section__180__160

.page-bg {
	background-image: url(../../img/bg_header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	border-radius: 5px;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: rgba(21, 208, 203, 0.9);
	}
}

.section__180 {
	position: relative;
}

.section__wrap {
	padding: 180px 0px 160px;
}

.section__content {
	display: flex;
	justify-content: space-between;
}

.left__content {
	flex-basis: 50%;

	& h1 {
		color: #fff;
		font-size: 55px;
		font-weight: bold;
		width: 470px;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	& p {
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.8;
		width: 580px;
		margin-bottom: 40px;
	}

	& .buy-now {
		padding: 20px 40px;
		border-radius: 5px;
		background-color: #061e37;
		font-family: "Roboto", sans-serif;
		font-size: 15px;
		text-transform: uppercase;
		color: #fff;
		margin-right: 30px;
	}

	& .buy-now:hover {
		cursor: pointer;
		color: #061e37;
		background-color: #fff;
		transition: 0.5s ease-out all;
		font-weight: 500;
	}

	& .try-free {
		padding: 20px 40px;
		border-radius: 5px;
		background-color: #fff;
		font-family: "Roboto", sans-serif;
		font-size: 15px;
		text-transform: uppercase;
		color: #061e37;
	}

	& .try-free:hover {
		cursor: pointer;
		color: #fff;
		background-color: #061e37;
		transition: 0.5s ease-out all;
		font-weight: 500;
	}
}

.right__content {
	width: 100%;
	flex-basis: 50%;
}

.right__content-wrap {
	background-image: url(../../img/photo-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	position: relative;
	border: 1px solid black;
	border-radius: 5px;
	width: 100%;
	padding-bottom: 50%;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.9);
	}

	& .right__content-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;

		& .icon {
			z-index: 5;
			cursor: pointer;
		}

		& .icon-text {
			font-size: 12px;
			color: #061e37;
			z-index: 5;
			cursor: pointer;
			text-transform: uppercase;
			font-family: "Raleway", sans-serif;
			font-weight: 700;
		}
	}
}

// -------------- Media Queries ------------------ //

@media (max-width: 1180px) {
	.login .login__user {
		padding: 20px 20px;
		font-size: 24px;
		padding: 10px 10px;
	}

	.section__wrap {
		padding: 60px 0px 60px;
	}

	.section__content {
		flex-direction: column;
	}

	.site__navigation li a {
		font-size: 24px;
	}

	.right__content {
		margin-top: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.left__content h1,
	.left__content p {
		flex-basis: 100%;
		width: 100%;
		text-align: center;
	}

	.left__content p {
		font-size: 24px;
	}

	.left__content p {
		max-width: 100%;
	}

	.buy-now,
	.try-free {
		position: relative;
		left: 40%;
		transform: translate(-50%, 0);
	}

	.right__content-wrap {
		width: 80%;
	}
}

@media (max-width: 992px) {
	.login .login__user {
		padding: 10px 10px;
		font-size: 14px;
	}

	.left__content h1 {
		font-size: 32px;
	}

	.left__content p {
		font-size: 18px;
	}
}

@media (max-width: 695px) {
	.left__content h1 {
		font-size: 24px;
	}

	.left__content p {
		font-size: 14px;
	}

	.left__content .buy-now,
	.left__content .try-free {
		padding: 15px 30px;
	}
}

@media (max-width: 576px) {

	.left__content .buy-now,
	.left__content .try-free {
		padding: 10px 25px;
	}

	.logo__text span,
	.logo__text p {
		font-size: 12px;
		font-weight: 500;
	}
}

@media (max-width: 476px) {
	.header__burger {
		right: 30px;
	}

	.left__content .buy-now,
	.left__content .try-free {
		padding: 10px 10px;
		font-size: 12px;
		font-weight: 500;
	}

	.left__content h1 {
		font-size: 16px;
	}

	.left__content p {
		font-size: 12px;
	}
}

@media (max-width: 450px) {

	.logo__text span,
	.logo__text p {
		font-size: 10px;
		font-weight: 500;
	}

	.section__wrap {
		padding: 30px 0px 30px;
	}

	.header__burger {
		width: 25px;
	}

	.header__burger:before {
		top: 3px;
	}

	.header__burger:after {
		bottom: 3px;
	}

	.login .login__user {
		padding: 5px 5px;
		font-size: 12px;
	}

	.left__content .buy-now,
	.left__content .try-free {
		padding: 8px 8px;
		font-size: 10px;
	}

	.right__content-wrap .right__content-content .icon {
		max-width: 15%;
	}

	.right__content-wrap .right__content-content .icon-text {
		font-size: 10px;
	}
}

@media (max-width: 320px) {

	.logo__text span,
	.logo__text p {
		width: 99%;
	}

	.logo__wrap .logo__img {
		margin-top: 5px;
	}
}