// Section__Services

.section__serviceswrap {
	padding: 100px 0px;
}

.section__serviceheader {
	text-align: center;

	& h2 {
		color: #061e37;
		font-size: 45px;
		font-weight: 600;
		margin-bottom: 30px;
		display: inline-block;
	}

	& p {
		font-size: 15px;
		color: #b0bec5;
		line-height: 25px;
		padding-bottom: 45px;
		margin: 0 auto;
		width: 50%;
	}
}

.dropdown-menu {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.dropdowm-menu-item-header {
	display: flex;
	justify-content: space-between;
	padding: 25px;
	cursor: pointer;
}

.dropdown-menu-item {
	width: 60%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 1);
	box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 1);
	border-radius: 5px;
}

.dropdown-menu-item:last-child {
	margin-bottom: 0;
}

.left-side-header {
	display: flex;
	justify-content: space-between;
}

.box-for-icon {
	margin-right: 25px;
}

.box-for-text p {
	font-size: 15px;
	color: #061e37;
	font-weight: 700;
	text-transform: uppercase;
}

.dropdowm-menu-item-body {
	display: flex;
	justify-content: space-between;
	padding: 0px 25px 25px;
	font-size: 15px;
	color: #061e37;
	font-weight: 500;
	line-height: 1.5;
	transition: 0.5s all;
	display: none;

	& .for-img {
		flex-basis: 35%;
		margin-right: 25px;
	}

	& .for-text {
		flex-basis: 65%;
		text-align: left;

		& p {
			margin-bottom: 25px;
		}

		& p:last-child {
			margin-bottom: 0;
		}
	}
}

.dropdowm-menu-item-body.active {
	display: flex;
}

// -------------- Media Queries ------------------ // 

@media (max-width: 1180px) {

	.section__serviceswrap {
		padding: 50px 0px;
	}
}

@media (max-width: 992px) {

	.section__serviceswrap {
		padding: 30px 0px;
	}

	.section__serviceheader h2 {
		font-size: 36px;
		margin-bottom: 15px;
	}
}

@media (max-width: 890px) {

	.dropdown-menu-item {
		width: 75%;
	}

	.dropdowm-menu-item-header {
		padding: 15px;
	}

	.dropdowm-menu-item-body .for-text p {
		font-size: 12px;
	}
}

@media (max-width: 830px) {

	.dropdown-menu-item {
		width: 80%;
	}
}

@media (max-width: 778px) {

	.dropdowm-menu-item-body {
		flex-direction: column;

		& .for-img {
			margin: 0px auto;
		}

		& .for-text p {
			margin: 15px 0px;
		}
	}
}

@media (max-width: 736px) {

	.section__serviceheader h2 {
		font-size: 30px;
	}

	.section__serviceheader p {
		width: 60%;
	}
}

@media (max-width: 678px) {

	.section__serviceheader p {
		padding-bottom: 30px;
		width: 67%;
	}
}

@media (max-width: 650px) {

	.section__serviceheader p {
		width: 75%;
	}
}

@media (max-width: 580px) {

	.section__serviceheader p {
		font-size: 12px;
		line-height: 1.5;
	}
}

@media (max-width: 400px) {

	.dropdowm-menu-item-body .for-text p {
		font-size: 10px;
		margin: 5px 0px;
		line-height: 1.5;
	}
}

@media (max-width: 400px) {

	.section__serviceheader h2 {
		font-size: 26px;
	}

	.section__serviceheader p {
		padding-bottom: 15px;
		width: 80%;
		line-height: 1.5;
	}

}